In [5]:
import pandas as pd
data = {"Name": ["Prerana","Mahi","Divya"],
        "Age":[20,19,21],
        "Address":["Ichalkaranji","Sangli","Kolhapur"],
        "Salary":[15000,10000,20000]}

df = pd.DataFrame(data)
print(df)

ModuleNotFoundError: No module named 'pandas'

In [6]:
import pandas as pd
print(pd.__version__)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df_CSV = pd.read_csv("D:/Degree/codes/Python/DataSet/annual-enterprise-survey.csv")
print(df_CSV)

In [ ]:
df_Xlsx = pd.read_excel("D:/Degree /codes/Python/DataSet/Amazon 3.xlsx")
print(df_Xlsx)

In [ ]:
print(df_CSV.info())

In [ ]:
print(df_CSV.describe())

In [ ]:
print(df_CSV.shape)

In [ ]:
print(df_Xlsx.isnull().sum())

In [ ]:
print(df_Xlsx["Order ID"].duplicated().sum())

In [ ]:
print(df_CSV["value"].isnull())