In [1]:
import pandas as pd
data = {"Name": ["Prerana","Mahi","Divya"],
        "Age":[20,19,21],
        "Address":["Ichalkaranji","Sangli","Kolhapur"],
        "Salary":[15000,10000,20000]}

df = pd.DataFrame(data)
print(df)

      Name  Age       Address  Salary
0  Prerana   20  Ichalkaranji   15000
1     Mahi   19        Sangli   10000
2    Divya   21      Kolhapur   20000

In [2]:
df_CSV = pd.read_csv("D:/Degree/codes/Python/DataSet/annual-enterprise-survey.csv")
print(df_CSV)

       year industry_code_ANZSIC               industry_name_ANZSIC  \
0      2011                    A  Agriculture, Forestry and Fishing
1      2011                    A  Agriculture, Forestry and Fishing
2      2011                    A  Agriculture, Forestry and Fishing
3      2011                    A  Agriculture, Forestry and Fishing
4      2011                    A  Agriculture, Forestry and Fishing
...     ...                  ...                                ...
20119  2023                  all                     All Industries
20120  2023                  all                     All Industries
20121  2023                  all                     All Industries
20122  2023                  all                     All Industries
20123  2023                  all                     All Industries

        rme_size_grp                                         variable  \
0                a_0                                    Activity unit
1                a_0                           Rolling mean employees
2                a_0                          Salaries and wages paid
3                a_0  Sales, government funding, grants and subsidies
4                a_0                                     Total income
...              ...                                              ...
20119  j_Grand_Total                                     Total income
20120  j_Grand_Total                                Total expenditure
20121  j_Grand_Total                      Operating profit before tax
20122  j_Grand_Total                                     Total assets
20123  j_Grand_Total                            Fixed tangible assets

         value               unit
0        46134              COUNT
1            0              COUNT
2          279  DOLLARS(millions)
3         8187  DOLLARS(millions)
4         8866  DOLLARS(millions)
...        ...                ...
20119   930995  DOLLARS(millions)
20120   832964  DOLLARS(millions)
20121   103616  DOLLARS(millions)
20122  2831894  DOLLARS(millions)
20123   681890  DOLLARS(millions)

[20124 rows x 7 columns]

In [3]:
df_Xlsx = pd.read_excel("D:/Degree/codes/Python/DataSet/Amazon 3.xlsx")
print(df_Xlsx)

            Order ID Order Date  Ship Date   Status   Customer Name  \
0     CA-2013-138688 2013-06-13 2013-06-17  On time   DarrinVanHuff
1     CA-2011-115812 2011-06-09 2011-06-14    Delay  BrosinaHoffman
2     CA-2011-115812 2011-06-09 2011-06-14    Delay  BrosinaHoffman
3     CA-2011-115812 2011-06-09 2011-06-14    Delay  BrosinaHoffman
4     CA-2011-115812 2011-06-09 2011-06-14    Delay  BrosinaHoffman
...              ...        ...        ...      ...             ...
3198  CA-2013-125794 2013-09-30 2013-10-04  On time     MarisLaWare
3199  CA-2014-121258 2014-02-27 2014-03-04    Delay      DaveBrooks
3200  CA-2014-121258 2014-02-27 2014-03-04    Delay      DaveBrooks
3201  CA-2014-121258 2014-02-27 2014-03-04    Delay      DaveBrooks
3202  CA-2014-119914 2014-05-05 2014-05-10    Delay     ChrisCortes

            Country         City       State     Category  \
0     United States  Los Angeles  California       Labels
1     United States  Los Angeles  California  Furnishings
2     United States  Los Angeles  California          Art
3     United States  Los Angeles  California       Phones
4     United States  Los Angeles  California      Binders
...             ...          ...         ...          ...
3198  United States  Los Angeles  California  Accessories
3199  United States   Costa Mesa  California  Furnishings
3200  United States   Costa Mesa  California       Phones
3201  United States   Costa Mesa  California        Paper
3202  United States  Westminster  California   Appliances

                                           Product Name    Sales  Quantity  \
0     Self-Adhesive Address Labels for Typewriters b...   14.620         2
1     Eldon Expressions Wood and Plastic Desk Access...   48.860         7
2                                            Newell 322    7.280         4
3                        Mitel 5320 IP Phone VoIP phone  907.152         4
4     DXL Angle-View Binders with Locking Rings by S...   18.504         3
...                                                 ...      ...       ...
3198  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...   36.240         1
3199  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.960         2
3200                              Aastra 57i VoIP phone  258.576         2
3201  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.600         4
3202  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.160         2

       Profit
0      6.8714
1     14.1694
2      1.9656
3     90.7152
4      5.7825
...       ...
3198  15.2208
3199  15.6332
3200  19.3932
3201  13.3200
3202  72.9480

[3203 rows x 13 columns]

In [4]:
print(df_CSV.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20124 entries, 0 to 20123
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  20124 non-null  int64
 1   industry_code_ANZSIC  20124 non-null  object
 2   industry_name_ANZSIC  20124 non-null  object
 3   rme_size_grp          20124 non-null  object
 4   variable              20124 non-null  object
 5   value                 20124 non-null  object
 6   unit                  20124 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.1+ MB
None

In [5]:
print(df_CSV.describe())

              year
count  20124.00000
mean    2017.00000
std        3.74175
min     2011.00000
25%     2014.00000
50%     2017.00000
75%     2020.00000
max     2023.00000

In [6]:
print(df_CSV.shape)

(20124, 7)

In [7]:
print(df_Xlsx.isnull().sum())

Order ID         0
Order Date       0
Ship Date        0
Status           0
Customer Name    0
Country          0
City             0
State            0
Category         0
Product Name     0
Sales            0
Quantity         0
Profit           0
dtype: int64

In [ ]:
print(df_Xlsx["Order ID"].duplicated().sum())

In [9]:
print(df_CSV["value"].isnull().sum())

0

In [10]:
df_CSV.drop_duplicates()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
20119,2023,all,All Industries,j_Grand_Total,Total income,930995,DOLLARS(millions)
20120,2023,all,All Industries,j_Grand_Total,Total expenditure,832964,DOLLARS(millions)
20121,2023,all,All Industries,j_Grand_Total,Operating profit before tax,103616,DOLLARS(millions)
20122,2023,all,All Industries,j_Grand_Total,Total assets,2831894,DOLLARS(millions)
20123,2023,all,All Industries,j_Grand_Total,Fixed tangible assets,681890,DOLLARS(millions)

In [11]:
df_CSV.shape

(20124, 7)