In [3]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns
import yfinance as yf
import datetime as dt
from datetime import date , timedelta

In [14]:
end_date = date.today().strftime("%Y-%m-%d")
start_date = (date.today()-timedelta(days=365)).strftime("%Y-%m-%d")
print("Start Date:",start_date," End Date:",end_date)

Start Date: 2023-12-10  End Date: 2024-12-09

In [16]:
ticker = "GOOGL"

df = yf.download(ticker,start=start_date,end=end_date)
df.head()

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL
Date,,,,,,
2023-12-11,132.960754,133.289993,133.339996,131.360001,132.380005,31138000
2023-12-12,132.192673,132.520004,133.000000,131.259995,131.809998,29032800
2023-12-13,132.242554,132.570007,133.500000,131.570007,133.380005,30104800
2023-12-14,131.614090,131.940002,133.720001,129.690002,133.380005,38722400
2023-12-15,132.272476,132.600006,133.509995,131.179993,131.619995,50815200