In [ ]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns
import yfinance as yf
import datetime as dt
from datetime import date , timedelta

import plotly.graph_objects as go
import plotly.express as px

from statsmodels.tsa.arima.model import ARIMA

In [23]:
end_date = date(2022, 8, 10).strftime("%Y-%m-%d")
start_date = (date(2022, 8, 10) -timedelta(days=365)).strftime("%Y-%m-%d")
print("Start Date:",start_date," End Date:",end_date)

Start Date: 2021-08-10  End Date: 2022-08-10

In [32]:
ticker = "GOOGL"

df = yf.download(ticker,start=start_date,end=end_date)
df

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL
Date,,,,,,
2021-08-10,136.469086,136.807007,137.772507,136.364502,137.341995,19414000
2021-08-11,135.942398,136.279007,137.682495,136.271500,137.181503,15352000
2021-08-12,136.855133,137.194000,137.300003,135.425507,135.975494,16506000
2021-08-13,137.387299,137.727493,137.856506,137.033005,137.250000,15948000
2021-08-16,137.967865,138.309494,138.362503,135.298996,137.524994,22384000
...,...,...,...,...,...,...
2022-08-03,117.788345,118.080002,118.620003,115.480003,115.709999,28499000
2022-08-04,117.898064,118.190002,118.779999,116.889999,117.480003,21602900
2022-08-05,117.179840,117.470001,118.110001,116.000000,116.230003,19159500
2022-08-08,117.010269,117.300003,120.150002,116.879997,118.389999,19138300
2022-08-09,116.341911,116.629997,117.320000,115.709999,117.139999,19086500

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2021-08-10 to 2022-08-09
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, GOOGL)  252 non-null    float64
 1   (Close, GOOGL)      252 non-null    float64
 2   (High, GOOGL)       252 non-null    float64
 3   (Low, GOOGL)        252 non-null    float64
 4   (Open, GOOGL)       252 non-null    float64
 5   (Volume, GOOGL)     252 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [34]:
df.insert(0,"Date", df.index,True)
df.reset_index(drop=True,inplace=True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Date, )            252 non-null    datetime64[ns]
 1   (Adj Close, GOOGL)  252 non-null    float64
 2   (Close, GOOGL)      252 non-null    float64
 3   (High, GOOGL)       252 non-null    float64
 4   (Low, GOOGL)        252 non-null    float64
 5   (Open, GOOGL)       252 non-null    float64
 6   (Volume, GOOGL)     252 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 13.9 KB

In [36]:
df.head(10)

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL
0,2021-08-10,136.469086,136.807007,137.772507,136.364502,137.341995,19414000
1,2021-08-11,135.942398,136.279007,137.682495,136.271500,137.181503,15352000
2,2021-08-12,136.855133,137.194000,137.300003,135.425507,135.975494,16506000
3,2021-08-13,137.387299,137.727493,137.856506,137.033005,137.250000,15948000
4,2021-08-16,137.967865,138.309494,138.362503,135.298996,137.524994,22384000
5,2021-08-17,136.323944,136.661499,138.265503,136.082001,137.750000,21716000
6,2021-08-18,135.114441,135.449005,137.104507,135.321503,136.500000,19258000
7,2021-08-19,135.344864,135.679993,136.352493,134.250000,134.435501,21782000
8,2021-08-20,137.090042,137.429504,137.554001,135.250000,136.000000,31194000
9,2021-08-23,139.695602,140.041504,140.874496,137.607498,137.969498,28454000

In [44]:
df_close = df[['Date','Close']]
df_close.head()

Price        Date       Close
Ticker                  GOOGL
0      2021-08-10  136.807007
1      2021-08-11  136.279007
2      2021-08-12  137.194000
3      2021-08-13  137.727493
4      2021-08-16  138.309494

In [39]:
df.isnull().sum()

Price      Ticker
Date                 0
Adj Close  GOOGL     0
Close      GOOGL     0
High       GOOGL     0
Low        GOOGL     0
Open       GOOGL     0
Volume     GOOGL     0
dtype: int64

In [41]:
df.duplicated().sum()

np.int64(0)

Ploting the data

In [49]:
df_close.shape

(252, 2)